
{% extends "base.html" %}
{% load static %}
{% block content %}
    
<p>
    <a class="btn btn-light" href="{% url 'orders_Order_list' %}">
    Order Listing
    </a>
</p>
    
<form method="post" enctype="multipart/form-data">
  {% csrf_token %}
  {{form.errors}}
  <div class="form-group row">
  <label class="col-sm-2 col-form-label" for="order_date">order_date: </label>
  <input class="form-control col-sm-10" id="order_date" type="date" name="order_date" value="{{ object.order_date }}">
  </div>
  <input type="submit" value="Save" class="btn btn-primary">
</form>

{% endblock %}