
{% extends "base.html" %}
{% load static %}
{% block content %}
    
<p>
    <a class="btn btn-light" href="{% url 'products_Product_list' %}">
    Product Listing
    </a>
</p>
    
<form method="post" enctype="multipart/form-data">
  {% csrf_token %}
  {{form.errors}}
  <div class="form-group row">
  <label class="col-sm-2 col-form-label" for="name">name: </label>
  <input class="form-control col-sm-10" id="name" type="text" name="name" value="{{ object.name }}">
  </div>
  <div class="form-group row">
  <label class="col-sm-2 col-form-label" for="product_image">product_image: </label>
  <input class="form-control col-sm-10" id="product_image" type="file" name="product_image" value="{{ object.product_image }}">
  </div>
  <div class="form-group row">
  <label class="col-sm-2 col-form-label" for="published">published: </label>
  <input class="form-control col-sm-10" id="published" type="date" name="published" value="{{ object.published }}">
  </div>
  <div class="form-group row">
  <label class="col-sm-2 col-form-label" for="description">description: </label>
  <input class="form-control col-sm-10" id="description" type="text" name="description" value="{{ object.description }}">
  </div>
  <div class="form-group row">
  <label class="col-sm-2 col-form-label" for="slug">slug: </label>
  <input class="form-control col-sm-10" id="slug" type="text" name="slug" value="{{ object.slug }}">
  </div>
  <input type="submit" value="Save" class="btn btn-primary">
</form>

{% endblock %}