
{% extends "base.html" %}
{% load static %}
{% block content %}
    
<p>
    <a class="btn btn-light" href="{% url 'warehouse_Seller_list' %}">
    Seller Listing
    </a>
</p>
    
<table class="table">
    <tr><td>url</td><td>{{ object.url }}</td></tr>
    <tr><td>name</td><td>{{ object.name }}</td></tr>
    <tr><td>slug</td><td>{{ object.slug }}</td></tr>
    <tr><td>platform</td><td>{{ object.platform }}</td></tr>
</table>
<a class="btn btn-primary" href="{{object.get_update_url}}">Edit</a>

{% endblock %}